<div class="container">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="14>15" alt="hot weather">
    <img src="../assets/cold.jpg" *ngIf="14<=15" alt="cold weather">

    <div class="weather-data">
      <div class="location">Tunis</div>
      <div class="temperature">{{ 11.10 | number: '1.0-0'}}°C</div>
    </div>

  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src = "../assets/low.svg" alt="low temp">
          <span>min</span>
        </div>
      </div>
        <div class="info-block-value">
        6°C
        </div>
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src = "../assets/high.svg" alt="high temp">
          <span>max</span>
        </div>
      </div>
        <div class="info-block-value">
        14°C
        </div>
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src = "../assets/humidity.svg" alt="humidity">
          <span>humidity</span>
        </div>
      </div>
        <div class="info-block-value">
          66%
        </div>
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src = "../assets/wind.svg" alt="wind speed">
          <span>min</span>
        </div>
      </div>
        <div class="info-block-value">
        10°C
        </div>
    </div>


  </div>
</div>

<router-outlet></router-outlet>